.LoginForm {
    min-height: 400px;
    min-width: 400px;
    background-color: rgba(50, 212, 220, 0.569);
    box-shadow: 0 0 20px 5px rgba(96, 202, 221, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .LoginButtonBox {
        width: 80%;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
