.FantasySkillComponent {
    transition: all 0.3s;
    box-sizing: border-box;
    margin: 0 3.5%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    & > span {
        font-size: 25px;
        -webkit-text-stroke: 1px;
        margin: 5px;
        text-align: center;
    }
    .ExclusiveGeneralText {
        height: 25px;
        line-height: 25px;
        font-size: 25px;
        -webkit-text-stroke: 1px;
        margin: 5px;
        text-align: center;
    }
    .ImgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 10px;
        height: 80px;
        width: 80px;
        border: 1px solid blueviolet;
        cursor: pointer;
        img {
            box-shadow: 0 0 4px rgb(14, 98, 134);
            text-align: center;
            font-size: 25px;
            border-radius: 5px;
            width: 80px;
        }
    }

    &.active .ImgContainer {
        box-shadow: 0 0 20px rgb(85, 195, 68);
    }
}
@media screen and (max-width: 600px) {
    .FantasySkillComponent {
        & > span {
            font-size: 15px;
        }
        .ImgContainer {
            width: 95%;
            height: 90px;
            img {
                width: 80%;
            }
        }
        &.active .ImgContainer {
            box-shadow: 0 0 10px rgb(85, 195, 68);
        }
    }
}
@media screen and (max-width: 500px) {
    .FantasySkillComponent {
        & > span {
            font-size: 15px;
        }
        .ImgContainer {
            width: 95%;
            height: 70px;
            img {
                width: 80%;
            }
        }
        &.active .ImgContainer {
            box-shadow: 0 0 10px rgb(85, 195, 68);
        }
    }
}
