.BackUrlDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media screen and (max-width: 600px) {
    .BackUrlDisplay {
        max-width: 100vw;
    }
}
